.Post{
margin: 20px 0;
-webkit-box-shadow: 0px 1px 16px -8px rgba(0,0,0,0.68); 
 box-shadow: 0px 1px 16px -8px rgba(0,0,0,0.68);
width: 100%;
height:80%;
border-radius: 10px;
}
.postwrapper{
    padding: 10px;
}
.PostTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.PostTopLeft{
    display: flex;
    align-items: center;
    
}
.PostImag{
    width:32px;
    height:32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.psotDetails{
    display: flex;
    flex-direction: column;
    align-items:start;
     margin-left: 5px;
}
.PostInfo{

}
.PostName{
    font-weight: bold;
    font-size:  .9375rem;
    cursor: pointer;
    
}
.PostDate{
    font-size: .83rem;
    font-weight: 300;
    margin-left: 0 ;
    margin-right: 5px;
}
.publicIcon{
    color: #65676b;
    font-size: 1rem !important;
}
.PostVertIcon{
    cursor: pointer;
}
.postcentertext{

}
.CeneterImage{
    width:100%;
    height:400px;
    object-fit: cover;
    cursor: pointer;
    margin-top: 8px;
}
.PostBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.BottomItem{
    margin-right: 10px;
}
.postBottomIcon{
    font-size: 1.7rem;
    margin:0 8px;
    cursor: pointer;
}
.IconText{
    font-size:15px;
    font-weight: 500;
}